/* ESTRUTURAL */
.content{
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 15% 85%;
    grid-template-rows: auto;
    grid-template-areas: 
        "aside main"
        "aside main"
        "aside main";
}

.aside{
    grid-area: aside;
    box-sizing: border-box;
}

.main{
    grid-area: main;
    box-sizing: border-box;
    padding: 3em;
}