/* TABELA */

.cadastro-table{
    width: 100%;
}

.cadastro-table thead{
    background-color: #999;
    text-align: left;
    font-family: sans-serif;
    font-weight: 600;
}

.cadastro-table th{
    padding: 1em;
}

.cadastro-table tbody tr:hover{
    background-color: #ddd;
}
.cadastro-table td{
    padding: .6em;
}